<section class="">
  <div class="container about_us_section" id="about">
    <img
      src="./img/about-us/738shots_so-min.png"
      alt="iPhone showcasing"
      class="img_iphone"
    />
    <div class="about_us_content">
      <h2 class="about_us_title">About Us</h2>
      <p class="about_us_description">
        Bubble Coco offers a thrilling bubble shooting experience where you help
        Coco the mother hen rescue her chicks. Navigate through a variety of
        creative and challenging levels, using your skills to pop bubbles and
        unlock new adventures.
      </p>
    </div>
    <img
      src="./img/about-us/nightmare-ai-enhanced-8.png"
      alt="Nightmare"
      class="nightmare_ai_icon"
    />
  </div>
</section>
