<section>
  <div class="container gallery_section">
    <h2 class="gallery_title">Gallery</h2>
    <div class="gallery_images_wrapper" id="gallery">
      <!-- Original set of images -->
      <img
        src="./img/gallery/img_gal_1.png"
        alt="Gallery Image 1"
        class="gallery_image"
      />
      <img
        src="./img/gallery/img_gal_2.png"
        alt="Gallery Image 2"
        class="gallery_image"
      />
      <img
        src="./img/gallery/img_gal_3.png"
        alt="Gallery Image 3"
        class="gallery_image"
      />
      <img
        src="./img/gallery/img_gal_4.png"
        alt="Gallery Image 4"
        class="gallery_image"
      />
      <img
        src="./img/gallery/img_gal_5.png"
        alt="Gallery Image 5"
        class="gallery_image"
      />
      <img
        src="./img/gallery/img_gal_6.png"
        alt="Gallery Image 6"
        class="gallery_image"
      />
      <img
        src="./img/gallery/img_gal_7.png"
        alt="Gallery Image 7"
        class="gallery_image"
      />

      <!-- Duplicated set of images for seamless loop -->
      <img
        src="./img/gallery/img_gal_1.png"
        alt="Gallery Image 1"
        class="gallery_image"
      />
      <img
        src="./img/gallery/img_gal_2.png"
        alt="Gallery Image 2"
        class="gallery_image"
      />
      <img
        src="./img/gallery/img_gal_3.png"
        alt="Gallery Image 3"
        class="gallery_image"
      />
      <img
        src="./img/gallery/img_gal_4.png"
        alt="Gallery Image 4"
        class="gallery_image"
      />
      <img
        src="./img/gallery/img_gal_5.png"
        alt="Gallery Image 5"
        class="gallery_image"
      />
      <img
        src="./img/gallery/img_gal_6.png"
        alt="Gallery Image 6"
        class="gallery_image"
      />
      <img
        src="./img/gallery/img_gal_7.png"
        alt="Gallery Image 7"
        class="gallery_image"
      />
    </div>
  </div>
</section>
