<section class="section_container">
  <header class="header container">
    <div class="container_inner">
      <div class="logo">
        <a href="">
          <img src="./img/home/logo.png" alt="logo" />
        </a>
      </div>
      <nav class="">
        <ul class="nav-list">
          <li class="nav-list_item"><a href="">Home</a></li>
          <li class="nav-list_item"><a href="">Feature keys</a></li>
          <li class="nav-list_item"><a href="">About Us</a></li>
          <li class="nav-list_item"><a href="">Gallery</a></li>
          <li class="nav-list_item"><a href="">User Reviews</a></li>
        </ul>
      </nav>

      <svg class="burger_menu burger_js" width="40" height="40">
        <use href="../img/sprite.svg#icon-Frame"></use>
      </svg>
    </div>
    <!-- mob menu -->
    <div class="mob_menu">
      <div class="container menu_container">
        <button class="mob_btn mob_btn_js">
          <svg class="" width="40" height="40">
            <use href="../img/sprite.svg#icon-x"></use>
          </svg>
        </button>
        <nav>
          <ul class="mob_list">
            <li><a href="#home" class="mob_link">Home</a></li>
            <li><a href="#features" class="mob_link">Feature keys</a></li>
            <li><a href="#about" class="mob_link">About Us</a></li>
            <li><a href="#gallery" class="mob_link">Gallery</a></li>
            <li><a href="#user" class="mob_link">User Reviews</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="container home_section">
    <h2 class="home_title">Bubble <span class="home_accent">CoCo</span></h2>
    <p class="home_par">
      Aim, shoot, and pop your way through hundreds of enchanting levels!
    </p>

    <button class="google_btn btn_js">
      <span class="btn_img">
        <svg width="30" height="34">
          <use href="./img/sprite.svg#icon-Playstore"></use>
        </svg>
      </span>
      <span class="btn_par">
        <span class="get_btn">Get it on</span>
        <span class="get_gl">Google Play</span>
      </span>
    </button>
  </div>
</section>
