<section id="reviews">
  <div class="container reviews_section">
    <div class="reviews_content">
      <h2 class="reviews_title">USER REVIEWS</h2>
      <div class="review_arrows">
        <svg class="arrow left_arrow" width="36" height="36">
          <use xlink:href="./img/sprite.svg#icon-left-off"></use>
        </svg>
        <svg class="arrow right_arrow" width="36" height="36">
          <use xlink:href="./img/sprite.svg#icon-right-on"></use>
        </svg>
      </div>
    </div>
    <div class="reviews_wrapper">
      <div class="reviews_list">
        <div class="review_card user1">
          <img src="../img/reviews/user1.png" alt="User 1" class="user_image" />
          <div class="review_textblock">
            <p class="review_name">PopMaster99</p>
            <p class="review_text">
              Endless fun with colorful bubbles! The levels are well-designed
              and always exciting.
            </p>
          </div>
        </div>
        <div class="review_card user2">
          <img src="../img/reviews/user2.png" alt="User 2" class="user_image" />
          <div class="review_textblock">
            <p class="review_name">CocoLover</p>
            <p class="review_text">
              Perfect game to relax and kill some time. Love the cute characters
              and the gameplay!
            </p>
          </div>
        </div>
        <div class="review_card user3">
          <img src="../img/reviews/user3.png" alt="User 3" class="user_image" />
          <div class="review_textblock">
            <p class="review_name">SharpShooter</p>
            <p class="review_text">
              The power-ups are game-changers! Makes each level unique and fun
              to solve.
            </p>
          </div>
        </div>
        <div class="review_card user4">
          <img src="../img/reviews/user4.png" alt="User 4" class="user_image" />
          <div class="review_textblock">
            <p class="review_name">BubbleFanatic</p>
            <p class="review_text">
              I play this every day with my kids. We all love the challenges and
              the rewards.
            </p>
          </div>
        </div>
        <div class="review_card user5">
          <img src="../img/reviews/user5.png" alt="User 5" class="user_image" />
          <div class="review_textblock">
            <p class="review_name">PuzzlePro</p>
            <p class="review_text">
              Great for puzzle lovers. It's not just about shooting bubbles but
              also strategic thinking.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
