.feature_title {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-transform: uppercase;
  color: #000;
  margin-top: 80px;
  @include media(mobile) {
    margin-top: 55px;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.47059;
    text-transform: uppercase;
    color: #111;
  }
  @include media(mobileL) {
    margin-top: 55px;
    font-family: 'Baloo 2', sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.47059;
    text-transform: uppercase;
    color: #111;
  }
}

.feature_section {
  background-image: url(../img/feature-keys/Vector.png);
  position: absolute;
  top: 560px;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 100px;
  z-index: 1;
  height: 922px;
  @include media(mobile) {
    background-image: url(../img/feature-keys/Vector-phone.png);
    background-size: auto;
    top: 590px;
    height: 1020px;
  }
  @include media(mobileL) {
    background-image: url(../img/feature-keys/Vector-phone.png);
    background-size: auto;
    top: 590px;
    height: 1020px;
  }
}

.feature-list {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  @include media(mobile) {
    margin-top: 63px;
  }
  @include media(mobileL) {
    margin-top: 63px;
    gap: 20px;
  }
}

.feature-item {
  position: relative;
  border-radius: 12px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 40px;
  max-width: 252px;
  //   flex: 1 1 calc(25% - 24px); /* 4 элемента в строке */
  width: calc(25% - 24px); /* Учитываем отступы */
  height: 185px;
  box-shadow: 0 4px 12px 0 rgba(71, 71, 71, 0.16);
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  /* Отступ для четных элементов */
  &:nth-child(even) {
    margin-top: 40px; /* Сдвинуть каждый четный элемент на 20 пикселей вниз */
  }
  @include media(mobile) {
    width: 140px;
    padding-left: 8px;
    padding-right: 8px;
    height: 132px;
    margin-bottom: 10px;
    flex: 1 1 calc(50% - 20px); /* 4 элемента в строке */
  }
  @include media(mobileL) {
    max-width: 154px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    height: 132px;
    margin-bottom: 10px;
    flex: 1 1 calc(50% - 20px); /* 4 элемента в строке */
  }
}

.feature-icon {
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translate(-50%, -50%);
  @include media(mobile) {
    top: 2%;
  }
  @include media(mobileL) {
    top: 2%;
  }
}

.feature-title {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 500;
  font-size: min(
    24px,
    clamp(16px, 2vw, 24px)
  ); /* Минимум 16px, максимум 24px, но 24px на экранах шире 1200px */
  line-height: 1.58333;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ff5b02;
  text-transform: none;

  margin: 0; /* Уберите отступы по умолчанию */
  @include media(mobile) {
    font-family: 'Baloo 2', sans-serif;
    font-weight: 500;
    font-size: 12px !important;
    line-height: 1.5;
    letter-spacing: 0.01em;
    text-align: center;
    color: #ff5b02;
  }
  @include media(mobileL) {
    font-family: 'Baloo 2', sans-serif;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    letter-spacing: 0.01em !important;
  }
}

.feature-description {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: min(
    16px,
    clamp(13px, 1.5vw, 16px)
  ); /* Минимум 13px, максимум 16px, но 16px на экранах шире 1200px */
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: #111;

  @include media(mobile) {
    font-weight: 300 !important;
    font-size: 11px !important;
    line-height: 1.53846 !important;
    letter-spacing: 0.01em !important;
    text-align: center !important;
  }
  @include media(mobileL) {
    font-weight: 300 !important;
    font-size: 13px !important;
    line-height: 1.53846 !important;
    letter-spacing: 0.01em !important;
    text-align: center !important;
  }
}

.feature-icon svg {
  max-width: 120px;
  max-height: 120px;
  width: 10vw; /* Ширина иконки в процентах от ширины экрана */
  height: 10vw; /* Высота иконки также пропорциональна */
  min-width: 78px;
  min-height: 78px;
  @include media(mobile) {
    min-width: 78px;
    min-height: 78px;
  }
  @include media(mobileL) {
    min-width: 78px;
    min-height: 78px;
  }
}

.feature-title {
}

.feature-description {
}
