.header {
  background: rgba(18, 19, 31, 0.6);
  border-bottom: 1px solid #ff5b02;
  position: relative;
  z-index: 1;
  position: fixed; /* Фиксированное позиционирование */
  top: 0; /* Привязка к верхней части окна */
  left: 0; /* Привязка к левой стороне окна */
  right: 0; /* Привязка к правой стороне окна */
  z-index: 1000; /* Убедитесь, что заголовок будет выше других элементов */
  @include media(mobile) {
    justify-content: center;
    align-items: center;
  }
  @include media(mobileL) {
    justify-content: center;
    align-items: center;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44444;
  color: #fff;
  padding: 19px 0 19px 0;
  @include media(mobile) {
    display: none;
  }
  @include media(mobileL) {
    display: none;
  }

  // @include media(tablet) {
  //   justify-content: flex-start;
  // }

  // @include media(desktop) {
  //   justify-content: flex-end;
  // }
}
.nav-list_item {
  border: 1px solid transparent; /* Прозрачная граница заранее */
  border-radius: 8px;
  padding: 4px 8px;
}
.nav-list_item:hover {
  border: 1px solid #ff5b02;
  border-radius: 8px;
}
.container_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media(mobile) {
    padding: 8px;
  }
  @include media(mobileL) {
    padding: 8px;
  }
}
