.header {
  position: relative;
  background: rgba(18, 19, 31, 0.6);
}

.nav-list {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44444;
  color: #fff;

  // @include media(tablet) {
  //   justify-content: flex-start;
  // }

  // @include media(desktop) {
  //   justify-content: flex-end;
  // }
}
.container_inner {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  @include font(30, 40);
  color: $_header_color;
}

.nav-link:hover,
.nav-link:focus {
  color: $_header_accent_color;
}
