.home_section {
  background: url(../img/home/baner.png) no-repeat center center;
  background-size: cover; /* Заполнение секции изображением */
  max-width: 1200px; /* Минимальная ширина секции */
  height: 600px; /* Задайте желаемую высоту */

  color: white; /* Цвет текста на секции */
}
.section_container {
  margin-top: -144px;
}

.section {
  padding-top: 0;
}
