.pr_btn {
  border: none;
  background-color: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
}
.back_container {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 8px;
}

.header_privacy {
  background: rgba(18, 19, 31, 0.6);
  border-bottom: 1px solid #ff5b02;
}
.privacy_container {
  padding-top: 80px;
  padding-left: 244px;
  padding-right: 244px;
}
.second {
  background-color: #fffbe6;
}
.privacy_section {
  margin-top: 80px;
  margin-bottom: 0;
}
.back_descr {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
}
.pri_title {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #ff5b02;
  margin-bottom: 40px;
}
.pri_s_title {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ff5b02;
}
.descr {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000;
  max-width: 713px;
}
.descr_s {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #000;
}
.descr_t {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #000;
}
.d_padding {
  padding-bottom: 16px;
  padding-top: 32px;
}
.a_padding {
  padding-bottom: 16px;
}
.padding_b {
  padding-bottom: 8px;
}
.desc_list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 32px;
}

footer {
  background: #114232;
  height: 248px;
}

.footer_list {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #000;
  padding-top: 80px;
  display: flex;
  gap: 32px;
  justify-content: end;
  @include media(mobile) {
    font-size: 13px;
  }
}

.rights {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  @include media(mobile) {
    font-size: 13px;
  }
}

.rights_container {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
