.reviews_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: absolute;
  top: 2687px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 454px;
  max-width: 1200px;
  background: url('../img/reviews/nightmare-ai-enhanced111-min.png') no-repeat
    center center;
  background-size: cover;
}

.reviews_content {
  display: flex;
  width: 100%;
  height: 72px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reviews_title {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #fff;
  text-transform: uppercase;
}

.review_arrows {
  display: flex;
  gap: 20px;
}

.arrow {
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.reviews_wrapper {
  overflow: hidden;
  width: 100%;
}

.reviews_list {
  display: flex;
  gap: 24px;
  transition: transform 0.5s ease;
}

.review_card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
  min-width: 344px;
  height: 182px;
  padding: 16px;
  background: #fff;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user_image {
  width: 68px;
  height: 70px;
  border-radius: 12px;
  float: left;
}

.review_textblock {
  width: 235px;
  height: 150px;
}

.review_name {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #ff5b02;
  margin-bottom: 16px;
}

.review_text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #111;
}

@include media(mobileL) {
  .reviews_section {
    width: 100%;
    height: 854px;
    top: 2640px;
    gap: 24px;
    background: url('../img/reviews/nightmare-ai-enhanced111-min2.png')
      no-repeat center center;
  }

  .reviews_content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    height: auto;
  }

  .reviews_title {
    width: 100%;
    font-size: 34px;
    line-height: 50px;
  }

  .review_arrows {
    display: none;
  }

  .reviews_wrapper {
    width: 100%;
    overflow: visible;
  }

  .reviews_list {
    flex-direction: column;
    gap: 20px;
    transform: none;
  }

  .review_card {
    min-width: 290px;
    width: 328px;
    height: 124px;
  }

  .review_textblock {
    width: 212px;
    height: 92px;
    text-align: left;
  }

  .review_name {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-bottom: 8px;
  }

  .review_text {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: left;
  }
}

@include media(mobile) {
  .reviews_section {
    width: 100%;
    height: 854px;
    top: 2640px;
    gap: 24px;
    background: url('../img/reviews/nightmare-ai-enhanced111-min2.png')
      no-repeat center center;
  }

  .reviews_content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    height: auto;
  }

  .reviews_title {
    width: 100%;
    font-size: 34px;
    line-height: 50px;
  }

  .review_arrows {
    display: none;
  }

  .reviews_wrapper {
    width: 100%;
    overflow: visible;
  }

  .reviews_list {
    flex-direction: column;
    gap: 20px;
    transform: none;
  }

  .review_card {
    min-width: 270px;
    width: 304px;
    height: 124px;
    padding: 8px;
  }

  .review_textblock {
    width: 202px;
    height: 92px;
    text-align: left;
  }

  .review_name {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-bottom: 8px;
  }

  .review_text {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: left;
  }
}
